# Product Sales

### Loading Data

In [5]:
import pandas as pd
sales_df = pd.read_csv('https://raw.githubusercontent.com/tech-interviews-jigsaw/leet-repo/main/sql/3-joins/sales.csv', index_col = 0)
product_df = pd.read_csv('https://raw.githubusercontent.com/tech-interviews-jigsaw/leet-repo/main/sql/3-joins/product.csv', index_col = 0)

import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://@localhost:5432/sql_interviews')

def insert_data(df, table_name, engine):
    df.to_sql(table_name, engine, if_exists = 'replace', index = False)
    
insert_data(sales_df, 'sales', engine)
insert_data(product_df, 'product', engine)

In [8]:
pd.read_sql('select * from sales limit 2', engine)

pd.read_sql('select * from product limit 2', engine)

   product_id product_name  unit_price
0           1           S8        1000
1           2           G4         800

### Problem 1

Write an SQL query that reports the best seller by total sales price, If there is a tie, report them all.

Return the result table in any order.

| seller_id |
| --------- |
| 1         |
| 3         |

### Problem 2

Write an SQL query that reports the buyers who have bought S8 but not iPhone. Note that S8 and iPhone are products present in the Product table.

Return the result table in any order.

| buyer_id |
| -------- |
| 1        |

### Problem 3

Write an SQL query that reports the products that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

Return the result table in any order.

| product_id | product_name |
| ---------- | ------------ |
| 1          | S8           |