# Gameplay Problems

### Loading the Data

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/tech-interviews-jigsaw/leet-repo/main/sql/1-window-functions/player_events.csv'
df = pd.read_csv(url, index_col = 0)

In [26]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://@localhost:5432/sql_interviews')

def insert_data(df, engine):
    df.to_sql('player_events', engine, if_exists = 'replace')
    # return df

* If you have not already, create a database called sql_interviews in the postgres database.

In [27]:
insert_data(df, engine)

### Problem 1

Write an SQL query to report the first login date for each player.

Return the result table in any order.

The query result format is in the following example.

In [29]:
pd.read_sql("""select * from player_events""", engine)

   index  player_id  device_id  event_date  games_played
0      0          1          2  2016-03-01             5
1      1          1          2  2016-05-02             6
2      2          2          3  2017-06-25             1
3      3          3          1  2016-03-02             0
4      4          3          4  2018-07-03             5

* Result

| player_id | first_login |
| --------- | ----------- |
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |

### Problem 2

Write an SQL query to report the device that is first logged in for each player.

Return the result table in any order.

The query result format is in the following example.

In [30]:
# pd.read_sql("""select * from player_events""", engine)

### Expected Result

| player_id | device_id |
| --------- | --------- |
| 1         | 2         |
| 2         | 3         |
| 3         | 1         |

### Problem 3 Description

Write an SQL query to report for each player and date, how many games played so far by the player. That is, the total number of games played by the player until that date. Check the example for clarity.

Return the result table in any order.

The query result format is in the following example.

In [ ]:
# pd.read_sql("""select * from player_events""", engine)

* Result

| player_id | event_date | games_played_so_far |
| --------- | ---------- | ------------------- |
| 1         | 2017-06-25 | 12                  |
| 1         | 2016-05-02 | 11                  |
| 1         | 2016-03-01 | 5                   |
| 3         | 2018-07-03 | 5                   |
| 3         | 2016-03-02 | 0                   |

### Problem 4

Write an SQL query to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. In other words, you need to count the number of players that logged in for at least two consecutive days starting from their first login date, then divide that number by the total number of players.

The query result format is in the following example.

In [31]:
# pd.read_sql("""select * from player_events""", engine)

Output: 
| fraction |
| -------- |
| 0.33     |


Explanation: 
Only the player with id 1 logged back in after the first day he had logged in so the answer is 1/3 = 0.33

### Problem 5 - SQL Hard

The install date of a player is the first login day of that player.

We define day one retention of some date x to be the number of players whose install date is x and they logged back in on the day right after x, divided by the number of players whose install date is x, rounded to 2 decimal places.

Write an SQL query to report for each install date, the number of players that installed the game on that day, and the day one retention.

Return the result table in any order.

The query result format is in the following example.

In [ ]:
# pd.read_sql("""select * from player_events""", engine)

* Result

| install_dt | installs | Day1_retention |
| ---------- | -------- | -------------- |
| 2016-03-01 | 2        | 0.5            |
| 2017-06-25 | 1        | 0              |


Player 1 and 3 installed the game on 2016-03-01 but only player 1 logged back in on 2016-03-02 so the day 1 retention of 2016-03-01 is 1 / 2 = 0.50
Player 2 installed the game on 2017-06-25 but didn't log back in on 2017-06-26 so the day 1 retention of 2017-06-25 is 0 / 1 = 0.00