# Reported Posts

### Loading Data

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://@localhost:5432/sql_interviews')

def insert_data(df, engine):
    df.to_sql('actions', engine, if_exists = 'replace')

In [4]:
import pandas as pd
url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/leet-repo/main/sql/3-self-joins/posts.csv"
posts_df = pd.read_csv(url, index_col = 0)

posts_df[:3]

   user_id  post_id action_date action extra
0        1        1  2019-07-01   view   NaN
1        1        1  2019-07-01   like   NaN
2        1        1  2019-07-01  share   NaN

In [7]:
insert_data(posts_df, engine)

### Problem 1

Write an SQL query that reports the number of posts reported yesterday for each report reason. Assume today is 2019-07-05.

Return the result table in any order.

* Result

| report_reason | report_count |
| ------------- | ------------ |
| racism        | 2            |
| spam          | 1            |

### Question 2

Write an SQL query to find the average daily percentage of posts that got removed after being reported as spam, rounded to 2 decimal places.

* Result

| average_daily_percent |
| --------------------- |
| 75                    |