# Number of Calls Between

* Leetcode 1699 Number of Calls Between Two Persons

Write an SQL query to report the number of calls and the total call duration between each pair of distinct persons (person1, person2) where person1 < person2.

Return the result table in any order.

The query result format is in the following example.

### Loading the Data

In [3]:
import sqlite3

conn = sqlite3.connect('crm.db')

def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

In [7]:
values = [
    {"from_id": "1", "to_id": "2", "duration": "59"
    }, {"from_id": "2", "to_id": "1", "duration": "11"
    },{"from_id": "1",
        "to_id": "3", "duration": "20"},
    {"from_id": "3", "to_id": "4", "duration": "100"},
    {"from_id": "3", "to_id": "4","duration": "200"
    },
    {"from_id": "3", "to_id": "4", "duration": "200"
    },
    {"from_id": "4", "to_id": "3", "duration": "499"}]

In [9]:
import pandas as pd
data = {"headers": ["from_id", "to_id", "duration"], "values": values}

df = build_dataframe(data)

df.to_sql('calls', conn, if_exists = 'replace', index = False)

7

In [10]:
pd.read_sql('select * from calls', conn)

  from_id to_id duration
0       1     2       59
1       2     1       11
2       1     3       20
3       3     4      100
4       3     4      200
5       3     4      200
6       4     3      499

### The problem

Write an SQL query to report the number of calls and the total call duration between each pair of distinct persons (person1, person2) where person1 < person2.

Return the result table in any order.

The query result format is in the following example.

```
+---------+---------+------------+----------------+
| person1 | person2 | call_count | total_duration |
+---------+---------+------------+----------------+
| 1       | 2       | 2          | 70             |
| 1       | 3       | 1          | 20             |
| 3       | 4       | 4          | 999            |
+---------+---------+------------+----------------+
```