# Sql Template Code

Convert markdown to json

[Convert to Json](https://tableconvert.com/markdown-to-json)

In [10]:
import sqlite3

conn = sqlite3.connect('crm.db')

def build_dataframe(data):
    columns = data['headers']
    values = data['values']
    df = pd.DataFrame(values)
    df.columns = columns
    return df

In [8]:
import pandas as pd
data = {"headers": ["personId", "firstName", "lastName"], "values": values}

df = build_dataframe(data)

# df.to_sql('persons', conn, if_exists = 'replace', index = False)

In [9]:
df

  personId firstName lastName
0        1         2       59
1        2         1       11
2        1         3       20
3        3         4      100
4        3         4      200
5        3         4      200
6        4         3      499