# Monthly Transactions

### Loading Data

In [1]:
import pandas as pd
chargebacks_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/leet-repo/main/sql/2-case-when/chargebacks.csv"
transactions_url = "https://raw.githubusercontent.com/tech-interviews-jigsaw/leet-repo/main/sql/2-case-when/transactions.csv"
chargebacks_df = pd.read_csv(chargebacks_url, index_col = 0)
transactions_df = pd.read_csv(transactions_url, index_col = 0)

In [9]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://@localhost:5432/sql_interviews')

def insert_data(df, table_name, engine):
    df.to_sql(table_name, engine, if_exists = 'replace', index = False)
    
insert_data(chargebacks_df, 'chargebacks', engine)
insert_data(transactions_df, 'transactions', engine)

### Question 1

Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.

In [11]:
pd.read_sql('select * from transactions limit 3', engine)

   user_id  post_id action_date action extra
0        1        1  2019-07-01   view  None
1        1        1  2019-07-01   like  None
2        1        1  2019-07-01  share  None

In [12]:
pd.read_sql('select * from chargebacks limit 3', engine)

   trans_id  trans_date
0       102  2019-05-29
1       101  2019-06-30
2       105  2019-09-18

* Result

| month   | country | trans_count | approved_count | trans_total_amount | approved_total_amount |
| ------- | ------- | ----------- | -------------- | ------------------ | --------------------- |
| 2018-12 | US      | 2           | 1              | 3000               | 1000                  |
| 2019-01 | US      | 1           | 1              | 2000               | 2000                  |
| 2019-01 | DE      | 1           | 1              | 2000               | 2000                  |

### Question 2

Write an SQL query to find for each month and country: the number of approved transactions and their total amount, the number of chargebacks, and their total amount.

Note: In your query, given the month and country, ignore rows with all zeros.

Return the result table in any order.

* Result

| month   | country | approved_count | approved_amount | chargeback_count | chargeback_amount |
| ------- | ------- | -------------- | --------------- | ---------------- | ----------------- |
| 2019-06 | US      | 2              | 8000            | 1                | 1000              |
| 2019-05 | US      | 1              | 1000            | 1                | 2000              |
| 2019-09 | US      | 0              | 0               | 1                | 5000              |